#nm{
	padding-left: 0px;
    letter-spacing: 3px;
}
.nav-link{
	padding-top: 10px;
	letter-spacing: 3px;
}
.dropdown-menu{
	background-color: #007bff;
	border: none !important;
}
.dropdown-item{
	color: #70abff !important;
	letter-spacing: 2px;
}
.dropdown>.dropdown-menu>a:hover {
 	color: #cce5ff !important;
	background-color: transparent;
}
.h1 , h1{
    margin-top: 40px;
}
.pb-5, .py-5{
    margin-top: -60px;
    padding-bottom: 0rem!important;
}



/*table style stats*/
.login_box {
         /* width: 800px;
    text-align: center;
      margin: 5em auto;
      padding: 5em;
      background-color: #fdfdff;
      border-radius: 0.5em;
      box-shadow: 5px 10px 10px #005b74; */
      max-width: 700px;
  /* height: 375px; */
  margin: 100px auto;
  background: #ffffffd9;
  padding: 20px 40px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #181827;
  margin-bottom: 300px;
      }
      
body{
  font-family: 'Mulish', sans-serif;
  background: url(blue.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.title{
  color: #124a92;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}






.table td, .table th {
       
    padding: 1rem !important;;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}