.info{
    display: flex !important;
    justify-content: center;
    background-color: #2e6194;
    color: white;
    margin: 10px 50px 10px 50px !important;
    border-radius: 5px;
    height: 30px;
    letter-spacing: 2px;
}
#nm{
    letter-spacing: 3px;
}