*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

nav {
  height: 10vh;
  background: #5b78c7;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left:40px;
  
}
.nav-links li a{
  color: azure;
  text-decoration: none;
  font-size: 20px;
}
.btn{
  background-color: plum;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    justify-content: unset;
    margin-left: 0%;
    padding-top: 20%;
    align-items: initial;
     padding-left: 10%;
     padding-right: 40%;
     clip-path: circle(130px at 30% -50% );
     -webkit-clip-path: circle(130px at 30% -50%);
     transition: all 1s ease-out;
     pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 30% -50% );
    -webkit-clip-path: circle(1000px at 30% -50%);
    pointer-events: all;
    background-color: blue;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  
}
section {
display: flex;
margin-top: -1%;
  height: 80vh;
  justify-content: center;
  align-items:center;
 

}
.plant{
  height: 100%;
  width: 100%;
  position: relative;
}
.plant img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.plant h1{
  position: absolute;
  top: 10%;
  right: 2%;
  color: black;
  size: 100px;
  font-style: italic;
 
}

.plant .signup{
  position: absolute;
  bottom:10%;
  right:2%;
  font-weight: 500;
  font-style: italic;
}
.contain
{
  background-color: blueviolet ;
  position: absolute;
  width: 100%;
}
.row{
  justify-content: center;
  align-items: center;
  margin-left: 20px;
 
}




