*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Mulish', sans-serif !important;
    letter-spacing: 5px !important;
    left: 0%;
  }
  
  .block{
    display: block;
  }
  nav {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
    background: #22253c;
    color: #fff !important;
  }
  .yellow{
    background: #22253c;
    position: relative;
  }
  .bt{
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px; 
    position: absolute;
    right: 10%;
    top:35%;
    border-radius: 15px;
  }

  .btn{
    white-space: nowrap;
    margin: 70px 0px;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 20px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ffffff6c;
    border-radius: 10px;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 50vh;
      width: 100%;
      flex-direction: column;
      justify-content: unset;
      margin-left: 0%;
      padding-top: 20%;
      align-items: initial;
       padding-left: 10%;
      
       clip-path: circle(130px at 30% -50% );
       -webkit-clip-path: circle(130px at 30% -50%);
       transition: all 1s ease-out;
       pointer-events: none;
    }

    
    
    
    .nav-links.open {
      clip-path: circle(1000px at 30% -50% );
      -webkit-clip-path: circle(1000px at 30% -50%);
      pointer-events: all;
      background-color: blue;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }
    
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    z-index: -1;
  
}  

.plantdiv{
    display: flex;
    height: 80vh;
    justify-content: center;
  align-items:center;
  position: relative;
  
  object-fit: cover;
}
.plant{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.plant img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headline{
  position: absolute;
  top: 70%;
  right: 2%;
  color: black;
  size: 100px;
  font-style: italic;
  border-bottom: 2px solid black;
  z-index: 3;
}

#pig{
  background-color: #00838fd9;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0%;
  width: 100% !important;
  
}

.row-content{
  background-color: darkblue;
}
.main-div-1{
  
 position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(34 37 60 / 1);
}
.main-div-2 {
  transition: .5s ease;
  }
  
  .main-div-2:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  }
  .main-div-1 {
    transition: .5s ease;
    }
    
    .main-div-1:hover{
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
    }
    .main-div-3 {
      transition: .5s ease;
      }
      
      .main-div-3:hover{
      box-shadow:
      1px 1px #373737,
      2px 2px #373737,
      3px 3px #373737,
      4px 4px #373737,
      5px 5px #373737,
      6px 6px #373737;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      }
      .main-div-4 {
        transition: .5s ease;
        }
        
        .main-div-4:hover{
        box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: .5s ease;
        }
        .main-div-5 {
          transition: .5s ease;
          }
          
          .main-div-5:hover{
          box-shadow:
          1px 1px #373737,
          2px 2px #373737,
          3px 3px #373737,
          4px 4px #373737,
          5px 5px #373737,
          6px 6px #373737;
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
          transition: .5s ease;
          }
          .jumbo {
            transition: .5s ease;
            }
            
            .jumbo:hover{
            box-shadow:
            1px 1px #373737,
            2px 2px #373737,
            3px 3px #373737,
            4px 4px #373737,
            5px 5px #373737,
            6px 6px #373737;
            -webkit-transform: translatey(-3px);
            transform: translatey(-3px);
            transition: .5s ease;
            }
.main-div-2{
  position: relative;
  
   justify-content: center;
   align-items: center;
   background-color: rgb(34 37 60 / 1);
   
 }
 .main-div-3{
  position: relative;
  background-color:#097f8b;
   justify-content: center;
   align-items: center;
   
 }
 .main-div-4{
  position: relative;
   justify-content: center;
   align-items: center;
   background-color:#22253c;
 }
 .main-div-5{
  position: relative;
   justify-content: center;
   text-align: center;
   background-color:  #00838fd9;
   
 }
 .div-2{
margin-left: 150px; 
margin-top: 100px;
}
.div-1{
  margin-left: 150px; 
  margin-top: 100px;
  background-color: rgb(34 37 60 / 1);
  margin-bottom: 10px;
  }
  .div-5{
    margin-left: 50px; 
    margin-top: 50px;
    
    margin-bottom: 20px;
    }
.div-4{
    margin-left: 150px; 
    margin-top: 100px;
    background-color:#22253c;
    } 
    .div-3{
     
      margin-top: 30px;
      
      } 
  .div-4 h2{
    position: absolute;
    top: 0%;
    left:35%;
    color:whitesmoke;
  }  
  .div-3 h2{
    position: absolute;
    top: 0%;
    left:35%;
    color: whitesmoke;
  }  
  .div-2 h2{
    position: absolute;
    top: 0%;
    left:35%;
    color: whitesmoke;
  }  
  .div-1 h2{
    position: absolute;
    top: 0%;
    left:35%;
    color:whitesmoke;
  }    
  .div-5 h2{
    position: absolute;
    top: 0%;
    left:35%;
    color: white;
  }    

 #money{
   animation: wheel 1s ease infinite ;
   transform-origin: center;
   transform-box: fill-box;
 }
 #repairman{
  animation: repair 1s ease infinite alternate ;
  transform-origin: bottom;
 }

 #social{
  animation: social 1s ease infinite alternate-reverse ;
  transform-origin: bottom;
  }
  

 @keyframes wheel {
   from{
transform: rotatez(0deg);
   }
   to{
    transform: rotatez(360deg);
   }
 }
 @keyframes social {
  from{
opacity: 0;
  }
  to{
    opacity: 1;
  }
}

 @keyframes repair {
  from{
    transform: translatey(0%);
       }
       to{
        transform: translatey(-20%);
       }
}
 .col{
   position: relative;
 }
 .carousel-inner{
   background-color:#097f8b;
   color: #fff;
 }
 #mycarousel{
   height: 100%;
   width: 100%;
 }
 ol{
   bottom: 0;
 }
 .jumbo{
  padding:70px 30px 70px 30px;
  position: relative;
  margin-bottom:0px;
  background-color:#59697ebf;
  
}
.signup{
  position: absolute;
  right: 10%;
  top:25%
}
.btn-primary{
  width: 200px;
  height: 3rem;
}
.footer{
  background-color: #59697ebf;
  padding-top: 25px;
  margin:0px;
  color: white;
}
.carousel-item {
  height: 300px;
  text-align: center;
  justify-content: center;
  margin-top: 5cm;
}
.footer li a{
  color: white;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.head-img{
  height: 250px;
  width: 270px;

}
.heading h1{
  border-bottom: 1px solid whitesmoke;
  color: azure;
  font-weight: 800;
}
.heading h2{
  color: azure;
  margin-top: 20px;
}

#current{
  padding: 50px 0px 40px 0px ;
}


/*Written to remove left scrollbar*/
.grid {
  overflow-x: hidden; 
  overflow-y: hidden; 
}
